<h3>Disambiguation</h3>
<br /><br />
<% @ambiguous_terms.each do |term| %>
  <%= form_for term, :remote => true do |form| %>
    <h3><%= term.name %></h3>
    <% puts "Here's yo LINKS, bro:" %>
  	<% puts term.links.to_json %>     
    <%= term.links.each do |link| %>
      <% puts "Here's yo link, bro:" %>
  	  <% puts link.to_json %> 
      <br><%= form.radio_button 'Link', link %> <%= link %> 
    <% end %>
    <%= form.submit %>  
  <% end %>
  <br /><br />
<% end %>

<br /><br />

<%= button_to "Done", :action => 'show', :id => @document.id %>