<p id="notice"><%= notice %></p>

<h2><%=@document.name%></h2>
<br /><hr /><br />
<% @topic_identifiers.each do |ti| %>
  <div>
    <%= form_for ti.topic do |form| %>
      
      <%= form.label "Term" %>
      <%= form.text_field :name %><br /><br />

      <%= form.label "Using wikipedia entry: #{ti.topic.name}" %><br /><br />

      <%= form.label "Definition" %>
      <%= form.text_area :description, :rows=>8, :cols=>80 %><br /><br />

      <%= form.label "Question (MC)" %>
      <%= form.text_area :question, :rows=>4 %><br /><br />

      <%= text_area @answers, :text, :value => @answers[ti.id] %>

      <%= button_to "Update Topic" %><br /><br />

      <br /><hr /><br />
                
    <%end%>
  </div>
<%end%>
