<%= javascript_include_tag "show" %>
<%= stylesheet_link_tag "show" %>

<p id="notice"><%= notice %></p>
<center><h1><%=@document.name%></h1></center>
<br /><hr /><br />
<% @topic_identifiers.each do |ti| %>
  <% next if ti.is_disambiguation %>
  <% @topic = ti.topic %>
    <%= form_for @topic, :remote => true do |form| %>
      <%= content_tag :div, :class => "container", :id => "div_" + @topic.id.to_s do %>
        <br />     
        <center><h1><%= "#{ti.name}" %></h1></center>
        <%= form.label "Wikipedia topic", :class => "label" %> 
        <%= form.text_field :name, :class => "field", :id => "title_" + @topic.id.to_s, :topic_id => "#{@topic.id}" %> 
        <%= link_to_function "Reload", "reloadTerm(#{@topic.id.to_s}, #{ti.id}, #{@document.id});" %>
        <br />

        <%= link_to "Original article", "http://www.wikipedia.org/wiki/#{@topic.name}", :target => "_blank", :id => "original_" + @topic.id.to_s %> or  
        <%= link_to "Wiki Search", "http://en.wikipedia.org/w/index.php?title=Special%3ASearch&search=#{@topic.name}&fulltext=Search&ns0=1&redirs=1&profile=advanced", :target => "_blank", :id => "wiki_search_" + @topic.id.to_s %>
        <br /><br />

        <%= form.label "Definition", :class => "label" %>
        <%= form.text_area :description, :rows=>8, :cols=>60, :class => "field", :id => "description_" + @topic.id.to_s, :topic_id => "#{@topic.id}" %>
        <br /><br />

        <%= form.label "Question", :class => "label" %>
        <%= form.text_area :question, :rows=>4, :cols=>60, :class => "field", :id => "question_" + @topic.id.to_s, :topic_id => "#{@topic.id}" %>
        <br /><br />

        <%= form.label "Answers", :class => "label" %>
        <%= text_area "answers", "text", :value => @answers[@topic.id], :rows=>10, :cols=>60, :class => "field", :id => "answers_" + @topic.id.to_s, :topic_id => "#{@topic.id}" %>
        <br /><br />

        <%= form_tag('/topics/' + @topic.id.to_s, :remote => true, :id => @topic.id.to_s) do %>
          <div><%= submit_tag 'Save', :class => "save", :id => @topic.id.to_s %></div>
        <% end %>
        <br />     
      <% end %>
      <br /><hr /><br />         
    <% end %>
<% end %>
