<p id="notice"><%= notice %></p>

<h2><%=@document.name%></h2>
<p>
  <%=@document.csv%>
</p>
<% @topic_identifiers.each do |ti| %>
  <b><%= ti.name %> disambiguation:<%=ti.is_disambiguation%></b><br />
  <% next if ti.topic_id.nil? %>
  <% topic = Topic.find(ti.topic_id) %>
  <% next if topic.nil? %>
  <p>
    <%  if topic.question %>
      <%= topic.question %>
    <% else %>
    <em>No question made for this topic</em>
    <% end %>

  </p>
  <ul>
    <% wrong = Answer.where("topic_id = ?", topic.id) %>
    <% wrong.each do |w| %>
    <li><%= w.name %></li>
    <%  end %>
  </ul>
<%end%>

