<h1>Listing cats</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cats.each do |cat| %>
  <tr>
    <td><%= cat.name %></td>
    <td><%= cat.url %></td>
    <td><%= link_to 'Show', cat %></td>
    <td><%= link_to 'Edit', edit_cat_path(cat) %></td>
    <td><%= link_to 'Destroy', cat, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
